*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    
}
.container{
    background-color: blue;
    color: #fff;
    width: 800px;
    border-radius: 10px;
    max-width: 100%;
    padding: 70px 50px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.3);
}
.heading{
    font-size: 80px;
    letter-spacing: 1px;
    margin: 0;
    padding: 30px 20px;
}
.fa{
    padding-left: 25px;
}